@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'PoetsenOne';
    src: url('./assets/fonts/PoetsenOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Lora';
    src: url('./assets/fonts/Lora-VariableFont_wght.ttf') format('truetype-variations');
    font-weight: normal;
    font-style: normal;
  }